*{
    margin: 0px;
    padding: 0px;
}
#con
{
    position: fixed;
    background-color: rgb(208, 255, 255);
    color: brown;
    /* width: 500px; */
    height: 500px;
    text-align: center;
    border: solid  coral;
    border-radius: 5px;
    border-width:4px;
    /* border-bottom-left-radius: 4px; */
}
#con2
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: coral;
    animation-name: oo;
    animation-duration: 2s;
    /* animation-timing-function: 2; */
    animation-iteration-count: 2;
    animation-timing-function: ease-in;
    
}
@keyframes oo {
    100%{
        margin-top: 300px;
    }
    90%{
        margin-right: 500px;
    }    
    10%{
        margin-left: 0px;
    }
}